<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">

    <style>
      .row{}
      table{}
      h1 {
        font-family: 'Galada', cursive;
        font-style: normal;
        font-weight: 400;
        src: local('Galada'),
        url(opensans.eot) format('embedded-opentype'),
        url(opensans.ttf) format('truetype'),
        url(opensans.otf) format('opentype'),
        url(opensans.woff) format('woff');
      }

      .logo{
        font-family: 'Galada', cursive;
        font-style: normal;
        font-weight: 400;
        src: local('Galada'),
        url(opensans.eot) format('embedded-opentype'),
        url(opensans.ttf) format('truetype'),
        url(opensans.otf) format('opentype'),
        url(opensans.woff) format('woff');
        border-style: solid;
        border-radius: 6px;
      }


      th{
        background-color: #404040;
        color: #ffffff;
      }

      @media screen and (max-width: 2000px){
        table{
          width: 100%;
        }
        .row{
          width: 100%;
        }
      }
      @media screen and (max-width: 991.98px){
        table{
          width: 100%;
        }
        .row{
          width: 100%;
        }
      }
      @media screen and (max-width: 767.98px){
        table{
          width: 100%;
        }
        .row{
          width: 100%;
        }
      }
      @media screen and (max-width: 575.98px){
        table{
          width: 100%;
        }
        .row{
          width: 100%;
        }
      }
    </style>
    <title>SafeCar</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <logo class="navbar-brand logo">SafeCar</logo>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse show" id="navbarColor01" style="">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if inicio == 1 %}
            <li class="nav-item">
              <a class="nav-link active" href="lista_arriendos">Arriendos</a>
            </li>
            {% endif %}
            {% if inicio == 2 %}
            <li class="nav-item">
              <a class="nav-link" href="lista_autos">Autos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="lista_clientes">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="lista_arriendos">Arriendos</a>
            </li>
            {% endif %}
            {% if inicio == 3 %}
            <li class="nav-item">
              <a class="nav-link" href="lista_autos">Autos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="lista_arriendos">Arriendos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="lista_clientes">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="lista_ejecutivos">Ejecutivos</a>
            </li>
            {% endif %}
          </ul>
          <form class="form-inline">
            <a class="nav-link" href="#">{{request.user}}</a>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit"> <a class="nav-link" href="{% url 'auth_logout' %}">Cerrar sesión</a> </button>
          </form>
        </div>
      </nav>
    <div class="container">        
            <div class="row">
                <div class="col-md-2">
                  <h1>Arriendos</h1>
                </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="datos">
                  <thead>
                    <tr>
                      <th scope="col">Auto</th>
                      <th scope="col">Cliente</th>
                      <th scope="col">Ejecutivo</th>
                      <th scope="col">Fecha inicio</th>
                      <th scope="col">Fecha entrega</th>
                      <th scope="col">Estatus</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for rent in object_list %}
                    <tr>
                      <td>{{rent.car}}</td>
                      <td>{{rent.client}}</td>
                      <td>{{rent.executive}}</td>
                      <td>{{rent.start_date}}</td>
                      <td>{{rent.end_date}}</td>
                      <td>
                         {% if inicio == 2 %}
                         {% if rent.status == 'E' %}
                         <div class="btn-group" role="group" aria-label="Basic example">
                          <a><button class="btn btn-success" type="button">E</button></a>
                          <a href="{% url 'edit_status' rent.pk 'A' %}" ><button class="btn btn-secondary" type="button">A</button></a>
                          <a href="{% url 'edit_status' rent.pk 'C' %}"><button class="btn btn-secondary" type="button">C</button></a>
                          </div>
                         {% endif %}
                         {% if rent.status == 'A' %}
                         <div class="btn-group" role="group" aria-label="Basic example">
                          <a href="{% url 'edit_status' rent.pk 'E' %}" ><button class="btn btn-secondary" type="button">E</button></a>
                          <a><button class="btn btn-warning" type="button">A</button></a>
                          <a href="{% url 'edit_status' rent.pk 'C' %}" ><button class="btn btn-secondary" type="button">C</button></a>
                          </div>
                         {% endif %}
                         {% if rent.status == 'C' %}
                         <div class="btn-group" role="group" aria-label="Basic example">
                          <a href="{% url 'edit_status' rent.pk 'E' %}" ><button class="btn btn-secondary" type="button">E</button></a>
                          <a href="{% url 'edit_status' rent.pk 'A' %}" ><button class="btn btn-secondary" type="button">A</button></a>
                          <a><button class="btn btn-danger" type="button">C</button></a>
                          </div>
                         {% endif %}
                         {% endif %}
                         {% if inicio == 3 %}
                         {% if rent.status == 'E' %}
                         <div class="btn-group" role="group" aria-label="Basic example">
                          <a><button class="btn btn-success" type="button">E</button></a>
                          <a href="{% url 'edit_status' rent.pk 'A' %}" ><button class="btn btn-secondary" type="button">A</button></a>
                          <a href="{% url 'edit_status' rent.pk 'C' %}"><button class="btn btn-secondary" type="button">C</button></a>
                          </div>
                         {% endif %}
                         {% if rent.status == 'A' %}
                         <div class="btn-group" role="group" aria-label="Basic example">
                          <a href="{% url 'edit_status' rent.pk 'E' %}" ><button class="btn btn-secondary" type="button">E</button></a>
                          <a><button class="btn btn-warning" type="button">A</button></a>
                          <a href="{% url 'edit_status' rent.pk 'C' %}" ><button class="btn btn-secondary" type="button">C</button></a>
                          </div>
                         {% endif %}
                         {% if rent.status == 'C' %}
                         <div class="btn-group" role="group" aria-label="Basic example">
                          <a href="{% url 'edit_status' rent.pk 'E' %}" ><button class="btn btn-secondary" type="button">E</button></a>
                          <a href="{% url 'edit_status' rent.pk 'A' %}" ><button class="btn btn-secondary" type="button">A</button></a>
                          <a><button class="btn btn-danger" type="button">C</button></a>
                          </div>
                         {% endif %}
                         {% endif %}
                         {% if inicio == 1 %}
                         {% if rent.status == 'E' %}
                         <div class="btn-group" role="group" aria-label="Basic example">
                          <a><button class="btn btn-success" type="button">E</button></a>
                          </div>
                         {% endif %}
                         {% if rent.status == 'A' %}
                         <div class="btn-group" role="group" aria-label="Basic example">
                          <a><button class="btn btn-warning" type="button">A</button></a>
                          </div>
                         {% endif %}
                         {% if rent.status == 'C' %}
                         <div class="btn-group" role="group" aria-label="Basic example">
                          <a><button class="btn btn-danger" type="button">C</button></a>
                          </div>
                         {% endif %}
                         {% endif %}
                      </td>
                    </tr>
                    {% endfor %} 
                  </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            {% if object_list.has_next or object_list.has_previous %}
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                     {% if object_list.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    
                    {% for page in object_list.paginator.page_range %}
                    <li class="page-item {% if object_list.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}

                     {% if object_list.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}">Next</a></li>
                    {% endif %}
                  </ul>
                </nav>

            {% endif %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
  <script language="javascript">
    function doSearch()
    {
      var tableReg = document.getElementById('datos');
      var searchText = document.getElementById('searchTerm').value.toLowerCase();
      var cellsOfRow="";
      var found=false;
      var compareWith="";
 
      // Recorremos todas las filas con contenido de la tabla
      for (var i = 1; i < tableReg.rows.length; i++)
      {
        cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
        found = false;
        // Recorremos todas las celdas
        for (var j = 0; j < cellsOfRow.length && !found; j++)
        {
          compareWith = cellsOfRow[j].innerHTML.toLowerCase();
          // Buscamos el texto en el contenido de la celda
          if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1))
          {
            found = true;
          }
        }
        if(found)
        {
          tableReg.rows[i].style.display = '';
        } else {
          // si no ha encontrado ninguna coincidencia, esconde la
          // fila de la tabla
          tableReg.rows[i].style.display = 'none';
        }
      }
    }
  </script>
</html>


